#content {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-x: hidden;
	padding: 10px;
}

#quote {
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 40px;
	font-size: 40px;
	font-weight: 900;
}

#quote #name {
	font-size: 20px;
}

#quote div {
	color: var(--theme-accent-text);
}