<div id="footer">
	<div id="motto">OUR MISSION IS TO CREATE MEMORABLE LEARNING EXPERIENCES</div>
	<div>
		&copy;<%= (new Date()).getFullYear() %> <%= appName %> | <a href="/../terms-of-service">Terms of Service</a> | <a href="/../privacy">Privacy Policy</a>
	</div>
</div>